Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
#Solution 
import pandas as pd

data = [4,8,15,16,23,42]
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
#Solution
import pandas as pd 

data = ['a','e','i','o','u','t','p','w','q','r']
ser = pd.Series(data)
print(ser)

0    a
1    e
2    i
3    o
4    u
5    t
6    p
7    w
8    q
9    r
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:
    Name = ['Alice','Bob','Claire']
    Age  = [25,30,27]
    Gender = ['Female','Male','Female']
    Then, print the DataFrame.

In [7]:
#Solution
import pandas as pd
data = { 'Name' : ['Alice','Bob','Claire'],
         'Age' : [25,30,27],
         'Gender' : ['Female','Male','Female']
}

ser = pd.DataFrame(data)
print(ser)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answere :- DataFrame : A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

Different from pandas.series :- 

1. Two-dimensional
2. Heterogenous – DataFrame elements can have different data types.
3. Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [4]:
#Example 
# for DataFram
print("For DataFrame")
import pandas as pd
data = { 'Name' : ['Alice','Bob','Claire'],
         'Age' : [25,30,27],
         'Gender' : ['Female','Male','Female']
}

ser = pd.DataFrame(data)
print(ser)
# for pandas.Series
print("For Pandas.Series")
import pandas as pd
data = { 'Name' : ['Alice','Bob','Claire'],
         'Age' : [25,30,27],
         'Gender' : ['Female','Male','Female']
}

ser = pd.Series(data)
print(ser)

For DataFrame
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
For Pandas.Series
Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [17]:
#Answere :- DataFrame Manipulation Using pandas in Python:
import pandas as pd
data = pd.DataFrame({"x1":["x", "y", "x", "y", "x", "x"],  # Create pandas DataFrame
                     "x2":range(15, 21),
                     "x3":["a", "b", "c", "d", "e", "f"],
                     "x4":range(20, 8, - 2)})
print(data)

  x1  x2 x3  x4
0  x  15  a  20
1  y  16  b  18
2  x  17  c  16
3  y  18  d  14
4  x  19  e  12
5  x  20  f  10

In [14]:
#1. Remove Column from pandas DataFrame
data_drop = data.drop("x3", axis = 1) 
print(data_drop)

  x1  x2  x4
0  x  15  20
1  y  16  18
2  x  17  16
3  y  18  14
4  x  19  12
5  x  20  10

In [15]:
#2. Add New Column to pandas DataFrame
x5 = ["foo", "bar", "foo", "bar", "foo", "bar"]            # Create list
data_add = data.assign(x5 = x5)                            # Add new column
print(data_add)

  x1  x2 x3  x4   x5
0  x  15  a  20  foo
1  y  16  b  18  bar
2  x  17  c  16  foo
3  y  18  d  14  bar
4  x  19  e  12  foo
5  x  20  f  10  bar

In [22]:
#3. Merge Two pandas DataFrames
data_add = pd.DataFrame({"x3":["c", "d", "e", "f", "g", "h"], # Create pandas DataFrame for merge
                         "y1":range(101, 107),
                         "y2":["foo", "bar", "foo", "bar", "foo", "foo"]})
print(data_add) 
data_merge = pd.merge(data,                                # Merge two pandas DataFrames
                      data_add,
                      on = "x3",
                      how = "outer")
print(data_merge)

  x3   y1   y2
0  c  101  foo
1  d  102  bar
2  e  103  foo
3  f  104  bar
4  g  105  foo
5  h  106  foo
    x1    x2 x3    x4     y1   y2
0    x  15.0  a  20.0    NaN  NaN
1    y  16.0  b  18.0    NaN  NaN
2    x  17.0  c  16.0  101.0  foo
3    y  18.0  d  14.0  102.0  bar
4    x  19.0  e  12.0  103.0  foo
5    x  20.0  f  10.0  104.0  bar
6  NaN   NaN  g   NaN  105.0  foo
7  NaN   NaN  h   NaN  106.0  foo

In [18]:
 #4. Rename Columns of pandas DataFrame
data_rename = data.copy()                                  # Create copy of DataFrame
data_rename.columns = ["col1", "col2", "col3", "col4"]     # Use columns attribute
print(data_rename)

  col1  col2 col3  col4
0    x    15    a    20
1    y    16    b    18
2    x    17    c    16
3    y    18    d    14
4    x    19    e    12
5    x    20    f    10

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answere :- All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [23]:
#Answere :- 
import pandas as pd
# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000